body{
    background-image: url("https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/59/68/fb/5968fbd2-106a-f913-0b1d-7ea424314dc3/AppIcon-0-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-5.png/246x0w.jpg")
}
#display{
    border: 3px solid black;
    border-radius: 10px;
    height: 40px;
    width: 500px;
    background-color: white;
}
#totBalance{
    background-color: white;
    width: 500px;
}
.column2{
    display: flex;
}
#totBalance{
    display: none;
}
#buttons{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    border: 3px solid black;
}
#menuItems{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 500px;
    background-color: white;
}
#createYourPlate{
    border: 1px solid black;
}
#bowl{
    border: 1px solid black;
}
#kidsMenu{
    border: 1px solid black;
}
#familyFeast{
    border: 1px solid black;
}
#alaCarte{
    border: 1px solid black;
}
#appatizers{
    border: 1px solid black;
}
#drinks{
    border: 1px solid black;
}
@media only screen and (max-width: 700px){
    body{
        background-image: none;
    }
}
@media only screen and (max-width: 900px){
    body{
        background-image: url("https://is5-ssl.mzstatic.com/image/thumb/Purple124/v4/59/68/fb/5968fbd2-106a-f913-0b1d-7ea424314dc3/AppIcon-0-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-5.png/246x0w.jpg");
        background-repeat: no-repeat;
    }
}